# Patterns to ignore when building packages.
# .helmignore files follow the gitignore syntax (https://git-scm.com/docs/gitignore).
.DS_Store
.git
.gitignore
*.swp
*.tmp
*.orig
*~
# Keep CI values out of the packaged chart
ci/
